.App{
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-areas: 
    /* "hed hed" */
    "les body";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}
.siteConteiner{
  grid-area: body;
}